bert-score==0.3.13
datasets==3.0.1
einops==0.8.0
evaluate==0.4.3
fast-langdetect==0.2.2
litellm==1.61.20
nltk==3.9.1
omegaconf==2.3.0
openai==1.64.0
pyonmttok==1.37.1
pythainlp==5.0.5
sacrebleu==2.4.3
scikit-learn==1.4.2
transformers==4.48.3
vllm==0.7.3